@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
.acenter {
  text-align: center;
}
.kanit {
  font-family: "kanit", sans-serif;
}
.piccenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ts-flex {
  display: flex;
}
